<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" >
     <link rel="stylesheet" href="css/style2.css" >
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
   
    <title>EPC</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="list-style">
            	<li class="items">
                   <a href="/"> Inicio</a>
                </li>
                <li class="items">
                   <a href="/cursos"> Cursos</a>
                </li>
                <li class="items" >
                    <a href=""> Calendario</a>
                </li>
                <li class="items">
                    <a href="">Trabaja con Nosotros</a>
                </li>
                <li class="items">
                    <a href=""> Contactanos</a>
                </li>
                <li class="items">
                    <a href="">Sobre Nosotros</a>
                </li>

            </ul>
        </nav>
    </header>
    <div class="hero">
        <h1 class="title1">
            Nuestros Cursos
        </h1>
        <p class="subtitle1">
           Tenemos una gran variedad de cursos, las carreras mas solicitadas o áreas que ni si quiera conocías, todo eso y mucho más aquí.
        </p>
        <a href="/" class="btn">Únete</a>
     </div>
     <div class="courses">
     	<% for( var i=0; i < 3; i++) { %>

     	<div class="course">
     		<div class="placeholder">
     			<div class="imgcourse"></div> 
     		</div>
     		<h2 class="headerexplanation">Title</h2>
     		<p class="textexplanation">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, neque consequatur .</p>
     		<a class="btn-secondary" href="#">View details »</a>
     	</div>
     	<% } %>
     </div>
    
</body>
</html>