<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <title>EPC</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="list-style">
                <li class="items">
                   <a href="/"> Inicio</a>
                </li>
                <li class="items">
                   <a href="/cursos"> Cursos</a>
                </li>
                <li class="items" >
                    <a href=""> Calendario</a>
                </li>
                <li class="items">
                    <a href="">Trabaja con Nosotros</a>
                </li>
                <li class="items">
                    <a href=""> Contactanos</a>
                </li>
                <li class="items">
                    <a href="">Sobre Nosotros</a>
                </li>

            </ul>
        </nav>
    </header>
    <div class="hero">
        <h1 class="title">
            Education Power Consulting
        </h1>
        <p class="subtitle">
           La mejor plataforma para aprender, educarse. Puedes llevar tus cursos a donde sea y aprender a tu ritmo.
        </p>
        <div class="cellphone-1" id="cellphone-1">

        </div>
        <div class="cellphone-2" id="cellphone-2">

        </div>
    </div>
    <div class="Work-Section">
        <div class="first-section">
            <h1 class="title-case-1">
                La mejor educación
            </h1>
            <p class="subtitle-case-1">
                La mejor plataforma para aprender, educarse. Puedes llevar tus cursos a donde sea y aprender a tu ritmo.
             </p>
             <img src="img/undraw.svg" alt="" class="image" id="image">
        </div>
    </div>
     <div class="second-section">
            <div class="circle">
    
            </div>
            
            <p class="text">A veces la excelencia puede ser un poco difícil de conseguir.
                Y mas aún, saber que necesitas un curso para mejorar en cierta área y no saber donde hacerlo.
                No obstante Aquí en power consulting nos encargamos de enseñar con excelencia.  
            </p>
            
     </div> 
    
    <div class="courses">
        <div class="course-1">
            <h1 class="title-case-1" id="titleforanimation1">Liderazgo empresarial</h1>
            <img src="img/undraw2.svg" alt="" class="image" id ="image1">
            <p class="subtitle-courses">El liderazgo empresarial es una habilidad que todas las personas pueden desarrollar y,
                 por la cual, el líder de la compañía
                 o del departamento es capaz de influir en los trabajadores para lograr sus objetivos.</p>

        </div>
        <div class="course-2">
            <h1 class="title" id="titleforanimation2">Mercadeo</h1>
            <img src="img/undraw3.svg" alt="" class="image" id ="image2">
            <p class="subtitle-courses2">Tener un negocio exitoso involucra diferentes áreas de una empresa, una de ellas es el mercadeo, que tiene como objetivo llevar a cabo un conjunto de acciones para atraer más personas y convertirlas en clientes.</p>
            
        </div>

    </div>
    <div class="contact-form">
        <h1 class="title-contact-form">Contactanos </h1>
        <form action="/data" method="POST">
            
            <input type="text" id="fname" name="fname" placeholder="Nombre">
            
            <input type="text" id="lname" name="lname" placeholder="Apellido">
            <input type="email" id="lemail" name="lemail" placeholder="Email">
            <input type="text" id="lmessage" name="lmessage" placeholder="Mensaje">
            <input type="submit" value="Submit">
          </form>
    </div>
        

    
    <script src="js/main.js"></script>
</body>
</html>