.subtitle1{
	width: 30%;
	text-align: center;
}
.title1{
	font-size: 2.6em;
    justify-content: center;
}
.hero{
	z-index: inherit;}
.btn {
  background-color: #212529;
  padding: 15px 32px;
  color: white;

  
}
.btn:hover{
	background-color: #f8f9fa;
	transition: 0.8s;
	color: black;
}
.courses{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 50px;
}
.course{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
}
.placeholder{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.imgcourse{
	align-self: center;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: #5a5a5a;
}

.textexplanation{
	font-size: 1.2em;
	text-align: center;
	color: #5a5a5a;
}
.headerexplanation{
	color: #5a5a5a;
	text-align: center;
	font-weight: 400;
	line-height: 1.2;
	font-size: 2rem;

}
.btn-secondary{
	background-color: #5a5a5a;
	color: white;
	padding: 10px 25px;
	
	border-radius: .25rem;

}
.btn-secondary:hover{
	background-color: #fff;
	color: black;
	transition: 0.9s;
}